<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.myclass.restaurant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgujYQDYYXGBfKdCJB9MK0HmfsCssAmWY" />

        <!-- <meta-data -->
        <!-- android:name="com.facebook.sdk.ApplicationId" -->
        <!-- android:value="@string/facebook_app_id" /> -->

        <activity android:name=".View.SlashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".View.DangNhapActivity" />
        <activity android:name=".View.Trangchu_Activity" />
        <activity android:name=".View.DangKy_Activity" />
        <activity android:name=".View.Resetpass_Activity" />
        <activity android:name=".View.ChiTietQuanAn_Activity" />
        <activity android:name=".View.HienThiChiTietBinhLuan_Activity" />
        <activity android:name=".View.HinhBinhLuan_fullscreen_Activity" />
        <activity android:name=".View.CapNhatDanhSachWifi" />
        <activity
            android:name=".View.PopupCapNhatWifi"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".View.DanDuongQuanAn_Activity" />
        <activity android:name=".View.Binhluan_Actitivty" />
        <activity android:name=".View.ChonHinhBinhLuan_Activity" />
        <activity android:name=".View.User_Activity" />
        <activity android:name=".View.SuaQuanAn_Activity"></activity>
    </application>

</manifest>